.nav-links{
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: #fff;
    opacity: 0.9;
}
